.cell{
        display: flex;
        overflow:hidden;
}
.container img:hover{-webkit-transform:scale(1.3);transform:scale(1.3);}

.container{
    overflow:hidden;
    margin:0;
    padding: 10%;
    width: 280px;
    height: 450px;
    flex-direction: row;justify-content: flex-end
}
.container img{
    width: 100%;
    height: 100%;
}

.notstock{
    overflow:hidden;
    margin:0;
    padding: 10%;
    width: 280px;
    height: 450px;
    flex-direction: row;justify-content: flex-end
}
.notstock img{
    width: 100%;
    height: 100%;
    filter:grayscale(90%);
}